<!DOCTYPE html>
<html>
<head>
<title>Flaskのテスト</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./static/css/stylesheet.css">
</head>
<body>
    <div class="index-container">
      <h1 class="index-title">Flaskのテスト</h1>
      {% for user in users %}
        {% if user == "Flask太郎" %}
        <div class="index-content" style="color:red;">ユーザー名は、{{user}}です。</div>
        {% else %}
        <div class="index-content">ユーザー名は、{{user}}です。</div>
        {% endif %}
      {% endfor %}
    </div>
</body>
</html>